.wrapper {
    margin-bottom: 40px;
}

.product-footer {
    display: flex;
    margin-top: 12px;

    .product-avatar {
        width: 36px;
        height: 36px;
        margin-right: 12px;
    }

    .product-title {
        flex: 1;
    }
}
